chardet==3.0.4
click==7.1.1
datalad
jinja2
librosa
lxml
nltk
numpy>=1.16.5
pydub
pandas>=0.25.0
panoptes_client
pyannote.metrics; python_version >= "3.7.0"
pygamma-agreement; python_version >= "3.6.0"
pympi-ling
pysoundfile
PyYAML
requests==2.21.0
sklearn
sox
sphinx
sphinx_rtd_theme