.wy-nav-content {
  max-width: 1000px;
}

.highlight-bat > .highlight{
	background: #edf4f9;
}
.highlight-bash > .highlight{
	background: #edf4f9;
}
.highlight-powershell > .highlight{
	background: #edf4f9;
}

.sphinx-tabs-tab {
  font-size: 13px;
  padding: 5px 1rem;
}
